/* vue.css */
.sidebar {
    border-right: 1px solid rgba(0,0,0,.1);
    padding-top: 0;
}

/* markdown */
.markdown-section h1 {
    font-size: 1.75rem;
}

.markdown-section h2 {
    font-size: 1.5rem;
}

.markdown-section h3 {
    font-size: 1.25rem;
}

.markdown-section h4 {
    font-size: 1rem
}

.markdown-section h5 {
    font-size: .75rem
}

.markdown-section h6 {
    color: #777;
    font-size: .75rem
}

/* search */
.search {
    margin-bottom: 20px;
    padding: 6px;
    border-bottom: 1px solid #eee;
}

.search .input-wrap {
    display: flex;
    align-items: center;
}

.search .results-panel {
    display: none;
}

.search .results-panel.show {
    display: block;
}

.search input {
    outline: none;
    border: none;
    width: 100%;
    padding: 0 7px;
    line-height: 36px;
    font-size: 14px;
}

.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button,
.search input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search .clear-button {
    width: 36px;
    text-align: right;
    display: none;
}

.search .clear-button.show {
    display: block;
}

.search .clear-button svg {
    transform: scale(.5);
}

.search h2 {
    font-size: 17px;
    margin: 10px 0;
}

.search a {
    text-decoration: none;
    color: inherit;
}

.search .matching-post {
    border-bottom: 1px solid #eee;
}

.search .matching-post:last-child {
    border-bottom: 0;
}

.search p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.search p.empty {
    text-align: center;
}


.app-name.hide, .sidebar-nav.hide {
    display: none;
}


/* loading */
#loading{
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--theme-color,#42b983);
    z-index: 999;
    display: none;
}
.center{
    position: absolute;
    left: 49%;
    top: 49%;
}
.typing_loader{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: Typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
    margin: 46px auto; /* Not necessary- its only for layouting*/
    position: relative;
    left: -12px;
}
@-webkit-keyframes typing{
    0%{
        background-color: rgba(255,255,255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
        24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    25%{
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,2),
        24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    75%{ background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
        24px 0px 0px 0px rgba(255,255,255,1);
    }
}

@-moz-keyframes typing{
    0%{
        background-color: rgba(255,255,255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
        24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    25%{
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,2),
        24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    75%{ background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
        24px 0px 0px 0px rgba(255,255,255,1);
    }
}

@keyframes typing{
    0%{
        background-color: rgba(255,255,255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
        24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    25%{
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,2),
        24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    75%{ background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
        24px 0px 0px 0px rgba(255,255,255,1);
    }
}

/* theme */
:root{--theme-color: #bad0f7;}